/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 18pt;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#categories {
  padding-left: 0;
}

h2 {
  font-size: 20px;
}

#gallery {
  display: flex;
  height: 300px;
}
#gallery img:first-child {
  height: 100%;
  width: auto;
}

#gallery li:not(:last-child) {
  margin-right: 40px;
}

h3 {
  color: lightcoral;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 45px;
}

.btn7 {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  background-color: plum;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  border-width: 0;
}
